button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    padding:9px 25px;
    background-color:rgba(0,136,169,1)
    border-radius: 50px;
}


nav {
   background-color: green;
    text-align: centre;
    display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-links {
    
  display: flex;
}
.nav-links li a {
  background-color: #f2f2f2;
}

