button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
    padding:9px 25px;
    background-color:rgba(0,136,169,1)
    border-radius: 50px;
}
header {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%
}
html {
    font-family: times;
}
nav {
    border: 1px solid #000;
    height: 250px;
nav_links li a {
    display:inline-blocks;
    padding:0px 28px;
}
    text-align: centre;
} 
.nav_link li a:hover{
    color: #0088a9
}
