button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    padding:9px 25px;
    background-color:rgba(0,136,169,1)
    border-radius: 50px;
}
header {
   display: flex;
    justify-content: space-between;
    align-items: center; 
  
}

nav {
   background-color: green;
    text-align: centre;
    display: flex;
}


